[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
pillow = "*"
social-auth-app-django = "*"
werkzeug = "==0.16.0"
pyopenssl = "*"
certifi = "*"
easy-thumbnails = "*"
redis = "*"
django-extensions = "==3.2.0"
django = "==4.0.6"

[dev-packages]

[requires]
python_version = "3.10"
